@using DnDWorldCreate.Data.Entitys
@using DnDWorldCreate.Services
@using DnDWorldCreate.Shared.AddEditComponents.InputTextComponents
@inherits AddEditBase<NPC>
@inject TownService _townService

<EditForm Model="EditItem">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <Input TValue="string" Label="Name" Id="name" @bind-Value="EditItem.Name" />

    <div class="form-group">
        <label for="description">Town ID</label>
        <ListComponentTown Label="Select Town" Items="Towns" OnSelected="OnRegionSelected" ItemsChanged="@_selectedTownIsNew" @key="Towns"></ListComponentTown>
    </div>

    <Input TValue="string" RenderAsTextArea="true" Label="Backstory" Id="backstory" @bind-Value="EditItem.Backstory" />
    <ActionButtons TItem="NPC" EditItem="@EditItem"
                   OnDelete="@OnDelete" OnSave="@OnSave" SaveButtonText="@SaveButtonText" OnDeleteAllInstances="@OnDeleteAllInstances"></ActionButtons>
</EditForm>

@code{
    private Town? SelectedTown;
    private bool _selectedTownIsNew = true;
    private IReadOnlyList<Town> Towns { get; set; } = new List<Town>();
    
    private void OnRegionSelected(Town town)
    {
        SelectedTown = town;
        EditItem.TownId = town.Id; 
        _selectedTownIsNew = town == null;
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadRegionsAsync();
    }

    private async Task LoadRegionsAsync()
    {
        Towns = (await _townService.GetAllTownsAsync()).ToList();
    }
}


