@using DnDWorldCreate.Data
@inherits AddEditBase<Item>

<EditForm Model="EditItem">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="EditItem.Name" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="EditItem.Description" />
    </div>

    <ActionButtons TItem="Item" EditItem="@EditItem"
                   OnDelete="@OnDelete" OnSave="@OnSave" SaveButtonText="@SaveButtonText" OnDeleteAllInstances="@OnDeleteAllInstances"></ActionButtons>
</EditForm>

